// Payment methods icons
.bankwire {
    background-image: url('../images/payment_methods/bankwire.svg');
}

.bitcoin {
    background-image: url('../images/payment_methods/bitcoin.svg');
}

.ethereum {
    background-image: url('../images/payment_methods/ethereum.svg');
}

.paysafe {
    background-image: url('../images/payment_methods/paysafe.svg');
}

.ecopayz {
    background-image: url('../images/payment_methods/ecopayz.svg');
}

.mastercard {
    background-image: url('../images/payment_methods/mastercard.svg');
}

.neteller {
    background-image: url('../images/payment_methods/neteller.svg');
}

.skrill {
    background-image: url('../images/payment_methods/skrill.svg');
}

.unionpay {
    background-image: url('../images/payment_methods/unionpay.svg');
}

.visa {
    background-image: url('../images/payment_methods/visa.svg');
}

.payment-methods-header {
    background-image: url('../images/payment_methods/payment_methods_banner.png');
}

.arrow {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25px;
    margin: 20px auto;
    &-right {
        background-image: url('../images/payment_methods/arrow_right.svg');
    }
    &-left {
        background-image: url('../images/payment_methods/arrow_left.svg');
    }
    @media (max-width: 767px) {
        height: 40px;
        width: 20px;
        margin: auto;
        &-up {
            background-image: url('../images/payment_methods/arrow_up.svg');
        }
        &-down {
            background-image: url('../images/payment_methods/arrow_down.svg');
        }
    }
}

// Payment methods scrollable tabs
#payment_methods {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    > div {
        padding: 0;
    }
    .tabs-container {
        height: 65px;
        border: 1px solid $fillColor;
        &.row {
            margin: 0;
        }
        .previous-button, .next-button {
            border-top: none;
            padding: 0px;
            cursor: pointer;
            &.previous-button {
                border-right: 1px solid $fillColor;
                &.hide {
                    max-width: 0px;
                    padding: 0px;
                    border-right: none;
                    transition: 0.5s;
                }
            }
            &.next-button {
                border-left: 1px solid $fillColor;
                &.hide {
                    max-width: 0px;
                    padding: 0px;
                    border-left: none;
                    transition: 0.5s;
                }
            }
            transition: max-width 0.5s;
        }
        .tab-buttons {
            overflow: hidden;
            padding: 0px;
            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                overflow: auto;
                margin: 0px;
                padding: 0px;
                li {
                    cursor: pointer;
                    border-left: 1px solid $fillColor;
                    margin: 0px;
                    padding: 0px;
                    &.tab-selected {
                        background-color: $fillColor;
                        transition: 0.3s;
                    }
                    .tab-icon {
                        height: 35px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        margin: 15px;
                    }
                }
            }
        }
    }
    .tab-content {
        max-height: 415px;
        .tab-content-wrapper {
            display: inline-flex;
            overflow: hidden;
            padding: 0;
            div {
                width: 100%;
                display: inline-table;
                background-color: $fillColor;
                padding: 15px;
                margin: 0;
                p {
                    margin: 0;
                }
                h4 {
                    margin-top: 5px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
                ol {
                    margin: 0;
                    padding: 0 20px;
                    li {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    p.hint {
        font-size: 16px;
        padding: 0px 30px;
    }
}

// Payment methods table
#payment_methods_table {
    padding-bottom: 20px;
    h3 {
        margin: 20px 0 0;
    }
    .payment-logo {
        height: 30px;
        width: 55px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    div {
        align-self: center;
    }
    thead {
        td {
            padding: 10px;
        }
    }
    td {
        vertical-align: middle;
        padding: 4px 10px;
        text-align: center;
        font-size: 14px;
        min-width: 120px;
    }
}

#payment_methods_accordian {
    padding-bottom: 20px;
}
// Payment methods accordian
//#payment_methods_accordian {
//    h3.fx-accordian-header {
//        background-image: none;
//        position: relative;
//        padding: 10px 40px;
//        border: 1px solid $fillColor;
//        border-bottom: none;
//        margin-bottom: 1px;
//        color: $primaryBrandColor;
//        font-weight: bold;
//        .ui-icon {
//            width: 8px;
//            height: 12px;
//            display: block;
//            visibility: visible;
//            background-size: contain;
//            position: absolute;
//            top: 60%;
//            left: 16px;
//        }
//        .ui-arrow-up {
//            background-image: url('../images/payment_methods/arrow_right.svg');
//            transform: rotateZ(270deg);
//            transition: 0.3s;
//        }
//        .ui-arrow-down {
//            background-image: url('../images/payment_methods/arrow_right.svg');
//            transform: rotateZ(90deg);
//            transition: 0.3s;
//        }
//
//    }
//    h3.ui-accordion-header-active {
//        margin-bottom: 0px;
//        background-color: $fillColor;
//        color: $darkPrimaryBrandColor;
//    }
//    .ui-widget-content {
//        background-color: $fillColor;
//        border-color: $fillColor;
//        color: $black;
//        padding: 10px 40px;
//    }
//}

@media (max-width: 767px) {
    #payment_methods {
        .tabs-container {
            height: 100%;
            border: 1px solid $fillColor;
            > .previous-button, .next-button {
                max-height: 100%;
                opacity: 1;
                &.previous-button {
                    border-bottom: 1px solid $fillColor;
                    border-right: none;
                }
                &.next-button {
                    border-top: 1px solid $fillColor;
                    border-left: none;
                }
                &.hide {
                    max-height: 0;
                    opacity: 0;
                }
                transition: max-height 0.5s !important;
            }
            .tab-buttons {
                ul {
                    display: flex;
                    flex-direction: column;
                    &.scrollable-tabs {
                        max-height: 370px;
                        &.in-the-middle {
                            max-height: 330px;
                        }
                    }
                    li {
                        min-height: 60px;
                        border-bottom: 1px solid $fillColor;
                        border-left: none;
                    }
                    > .tab-icon {
                        height: 47px;
                        width: 78px;
                        margin: 5px auto;
                    }
                }
            }
        }
        .tab-content {
            overflow: hidden;
            .tab-content-wrapper {
                display: flex;
                flex-direction: row;
                max-height: 100%;
                div {
                    height: 100%;
                    width: 0;
                    padding: 5px;
                    p, ol li {
                        font-size: 12px;
                    }
                    h4 {
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        > p.hint {
            padding: 5px;
            font-size: 12px;
        }
    }
    #payment_methods_table {
        thead {
            td {
                font-size: 14px;
            }
        }
        tbody {
            td {
                font-size: 12px;
            }
        }
    }
}