html {
    height: 100%;
    overflow-x: hidden;

    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: inherit;
        width: 100%;

        #champion-container {
            flex: 1 1 auto;
        }
    }
}

.page-title {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
}

.section-title {
    padding-bottom: 5px;
    color: $white;
    border-bottom: 2px solid $borderColor;
    display: inline-block;
    width: auto;
}

button {
    white-space: nowrap;
}

.white {
    color: $white;
}

h1.main-title {
    border-bottom: 2px solid $fillColor;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.separator.fill-bg-color {
    margin: 40px 0;
}

.gray-bg-color {
    background: $borderColor;
}

.image-small {
    max-width: 150px;
}

.image-medium {
    max-width: 250px;
}

//top bar
.topbar-container div {
    display: inline-flex;
}

.topbar-contacts {
    display: inline-block;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;

        li {
            display: inline-block;
            margin: 0;
            padding: 0 5px;

            a {
                font-weight: 400;
                padding: 5px 1px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Header
.FX__Header__cta {
    text-align: right;
    margin-top: 20px;
}

@keyframes pulsing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulsing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.pulser {
    -webkit-animation: pulsing 3s infinite ease;
    animation: pulsing 3s infinite ease;
}

// Sign up form
#verify-email-form {
    @include no-margin-padding;
    display: flex;
    flex-grow: 1;

    #email {
        text-align: center;
        width: 280px;
    }
}

.signup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;

    div {
        display: inline;
        @include no-margin-padding;
    }
    input {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    span {
        display: block;
        text-align: left;
        @include no-margin-padding;
    }
    button {
        margin: 0;
    }
}

#main-signup, #main-login {
    margin-left: auto;
    padding: 3px 0;

    .signup-button, .login-button {
        margin: auto;
        text-align: right;
        padding: 0;

        li {
            margin-top: 0;

            span {
                width: 100px;
                font-size: 12px;
            }
        }
    }
}

.license-box {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;

    div {
        display: inline;
        @include no-margin-padding;
    }
    img {
        width: 65px;
    }
}

// Footer
#footer {
    .fx-footer {
        display: table;
        width: 100%;
        padding: 10px 0;
        font-size: $FONT_SIZE_S;
    }
    #footer-menu {
        padding: 10px 0;

        h4 {
            color: $contentInverseColor;
            margin-bottom: 0.4em;
            font-weight: 700;
            font-size: 13px;
        }
        ul {
            margin: 10px 0 30px;
            padding: 0;

            li {
                margin-top: 0.3em;
                margin-bottom: 0;

                a {
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
            &.social-network {
                text-align: right;
                width: 100%;
                margin: 0;

                li {
                    display: inline-block;
                    margin: 0 0 5px 5px;

                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    #footer-regulatory {
        padding: 25px 0 0;
        font-size: 10px;
        text-align: justify;
    }
    #footer-last {
        padding: 10px 0;
        font-size: $FONT_SIZE_S;
    }
    #end_note {
        line-height: 25px;
        text-align: center;
        background: $secondaryContentColor;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;

        &, a {
            color: $black;
            font-size: $FONT_SIZE_XS;
        }
    }
}

// Panel
.fx-panel-container {
    background: $white;
}

.fx-panel {
    padding: 20px 0;
    min-height: 320px;

    h1 {
        padding: 0;
        margin: 0;
    }
    p {
        padding: 0 20px;
    }
    ul {
        margin-left: 0;
    }
}

.center-vertical {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fx-panel-title {
    padding: 0 20px;

    img {
        width: 35px;
        float: left;
        margin-top: 0;
        margin-right: 15px;
    }
}

.fx-panel-item {
    padding: 15px;
    display: block;
    height: 150px;

    div {
        text-align: center;
        padding: 10px 12px 0;
        vertical-align: top;
    }
}

// Page Sections
.fx-section {
    margin: 40px 0;

    .fx-features-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
    > .row {
        margin: 40px 0;
    }
}

.fx-section-sm {
    padding: 25px 0;
}

.binary-options-header {
    background: url('../images/binary_options/binary_options_banner.png') top left / cover no-repeat;
}

.trading-platform-header {
    background: url('../images/trading_platforms_banner.png') top left / cover no-repeat;
}

.forex-header {
    background: url('../images/forex.png') top left / cover no-repeat;
}

.mt5-header {
    background: url('../images/metatrader/mt5_banner.png') top left / cover no-repeat;
}

.cfd-header {
    background: url('../images/cfd_banner.png') top left / cover no-repeat;
}

.metals-header {
    background: url('../images/metals_banner.png') top left / cover no-repeat;
}

.economic-calendar-header {
    background: url('../images/mt5/economic_calendar_banner.png') top left / cover no-repeat;
}

.partnerships-header {
    background: url('../images/partnerships_banner.png') top left / cover no-repeat;
}

// Home page
.fx-home-header {
    @include header-background(0, '../images/header_imgfx-2x.jpg');
    padding: 40px 20px 30px;
    text-align: center;

    p {
        padding: 10px 0;
    }
}

.home-header-cta {
    margin-top: 0;
    padding: 20px;

    .button {
        display: inline-block;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.fx-home-intro p:first-child {
    padding-left: 90px;
}

.fx-title {
    text-align: center;
    margin: 12px 0;
    padding: 10px;
}

.fx-feature-box {
    text-align: center;
    margin-top: 30px;
}

.fx-box img {
    max-width: 100px;
    margin-bottom: 15px;
}

// Mission
.fx-mission-header {
    @include header-background(0.1, '../images/img_fx_2@2x.jpg');
    padding: 20px 20px 50px;

    img {
        max-height: 300px;
    }
}

.fx-value-item {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Platform
.fx-platform-options {
    text-align: center;

    .row {
        margin-bottom: 30px;

        &:first-child {
            margin-bottom: 10px;
        }
    }
}

// About us
.about-us-header {
    background: url('../images/about/banner_championfx.png') top left / cover no-repeat;
}

// Contact us
.contact-us-header {
    background: url('../images/contact_us/contact_us_banner.png') top left / cover no-repeat;

    h4 {
        margin-bottom: 0;
        padding: 0;
    }
    p {
        font-size: 14px;
    }
    .flex-display {
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }
}

#contact-us {
    margin: 40px 0;

    .row-reverse {
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    }
    .section-heading {
        div.row {
            display: flex;
            align-items: flex-end;
        }
        p {
            margin: 10px 0;
        }
        .small {
            font-size: 12px;
        }
        .content-center {
            display: flex;
            justify-content: center;
        }
        .content-align-right {
            text-align: right;
        }
        .content-align-left {
            text-align: left;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .contact-phones, .contact-emails {
        display: flex;
        align-items: center;
        padding: 15px;

        h4 {
            color: $black;
            font-size: 14px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 5px;
        }
        &.contact-phones {
            .vertical-center {
                margin-top: 15px;
            }
            p {
                font-size: 14px;
                font-weight: bold;
                margin: 5px;
            }
            span {
                font-size: 12px;
            }
            span.text-lg {
                font-size: $FONT_SIZE_N;
                @media (max-width: 1100px) {
                    font-size: 16px;
                }
            }
        }
        &.contact-emails {
            text-align: right;
            @media (max-width: 767px) {
                text-align: left;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-top: 15px;
            }
            a {
                font-size: 14px;
                white-space: nowrap;
                @media (max-width: 1100px) {
                    white-space: normal;
                }
            }
            a.text-lg {
                font-size: $FONT_SIZE_N;
            }
        }
    }
}

@media (max-width: 767px) {
    #contact-us {
        padding: 30px 0;

        .separator {
            margin: 25px 0 30px;
        }
        .section-heading {
            h2 {
                font-size: 22px;
            }
            p {
                font-size: 12px;
            }
            .small {
                font-size: 11px;
            }
            .content-align-right > div {
                padding-right: 0;

                img {
                    padding-right: 15px;
                }
            }
            .content-align-left > div {
                padding-left: 0;

                img {
                    padding-left: 15px;
                }
            }
        }
    }
    .contact-us-header {
        h1 {
            margin-bottom: 10px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
        .flex-display {
            flex-direction: row;

            .fx-contact-callback, .fx-contact-hour {
                width: 30px;
                height: 30px;
                margin: 0;
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}

// Tables
.champion-features {
    th {
        text-align: left;
    }
    td {
        &:first-child {
            width: 45%;
        }
        &:nth-child(2), &:last-child {
            width: 20%;
        }
        &:nth-child(3) {
            width: 15%;
        }
    }
}

.fx-package {
    text-align: center;

    td {
        padding: 10px;
    }
}

// Helpers
.space-sm {
    width: 130px;
    display: inline;
}

.w-300 {
    max-width: 200px;
}

.wide span {
    width: 90%;
}

.clean-input:focus {
    outline: none;
}

.contacts-title {
    padding-bottom: 30px;
}

//borders
.fx-tb {
    border-top: 1px solid $borderColor;
}

.fx-rb {
    border-right: 1px solid $borderColor;
}

.fx-bb {
    border-bottom: 1px solid $borderColor;
}

.fx-lb {
    border-left: 1px solid $borderColor;
}

.fx-hr {
    border-top: 1px solid $secondaryContentColor;
    margin: 30px 0;
}

.app-info {
    min-height: 70px;
}

.border {
    border: 1px solid $borderColor;
}

.fx-material {
    @include shadow-transition;
}

// Buttons
.store-button {
    display: inline-table;
    width: 140px;
    height: auto;
    @include shadow-transition;
}

// Images
.img-lg {
    margin: 20px 0;
}

.img-xl {
    margin: 50px 0;
}

fieldset {
    border: none !important; // 1px solid $borderColor;
    padding: 5px;
    margin-bottom: 10px;
}

.form-row {
    width: 350px;
    max-width: 100%;
    margin-bottom: 20px;

    select, input:not([type='checkbox']), textarea {
        width: 100%;
    }
    &.checkbox label {
        display: inline;
    }
}

.center-text .form-row {
    width: auto;
}

.submit-row {
    margin-top: 40px;
}

.champion-accounts {
    th {
        text-align: center;
    }
    td {
        &:first-child {
            width: 25%;
        }
        &:nth-child(2), &:nth-child(3), &:last-child {
            width: 25%;
            text-align: center;
        }
    }
}

.binary-accounts {
    th {
        text-align: center;
    }
    td {
        width: 50%;
        text-align: center;
        vertical-align: middle;
    }
}

.forex-accounts td {
    width: 50%;
    vertical-align: middle;
}

.bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    top: 100%;
}

.fx-divider {
    height: 5px;
    margin: 20px 0;
}

.fx-divider-l {
    height: 5px;
    margin: 30px 0;
}

.fx-divider-xl {
    height: 5px;
    margin: 40px 0;
}

.lg-padding {
    padding: 20px !important;
}

.txt-right {
    text-align: right;
}

.notes {
    text-align: left;

    thead, th {
        background: none !important;
    }
}

// fix
#topbar {
    padding: 0 !important;
    height: 30px;

    .container {
        line-height: 30px;
    }
}

.languages {
    padding: 0;
    margin: 0;
    z-index: 9;
}

.language {
    padding: 0 5px;
}

.logo-parent {
    padding: 0;
    margin: 0;
}

.test {
    background-color: $darkPrimaryBrandColor;
}

select[disabled=disabled] {
    color: $secondaryContentColor;
}

// 404 error code
.big-error-code {
    color: $secondaryContentColor;
    font-size: 10em;
    font-weight: normal;
}

// Payment methods table
.fx-payment-methods table {
    margin: 20px 0;

    tr {
        height: 60px;
    }
    th, td {
        text-align: left;
        border-bottom: none;
    }
    .fx-subheader {
        background-color: $white;
        font-weight: 100;
        border-top: solid 1px $borderColor;
    }
}

.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;

    .lightbox-contents {
        margin: auto;
        max-width: 600px;
        max-height: 90vh;
        padding: 30px;
        text-align: center;
        background-color: $white;
        border-radius: $BORDER_RADIUS;
        overflow: auto;
        position: relative;

        .close {
            cursor: pointer;
            width: 14px;
            height: 14px;
            background: url('../images/mt5/close.svg') no-repeat center;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
    &#success_popup {
        .main-image {
            height: 90px;
            min-width: 90px;
            background: url('../images/mt5/success.svg') no-repeat center;
        }
        h3 {
            margin: 10px 0;
        }
        .success-contents {
            line-height: 24px;
        }
    }
}

.small-spinner .barspinner {
    height: 15px;
    margin: 7px;
}

/* Multi-level numbered list */
ol {
    counter-reset: item1;
}

ol li {
    display: block;
    position: relative;
}

ol li:before {
    content: counter(item1)'.';
    counter-increment: item1;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

ol ol {
    counter-reset: item2;
}

ol ol li:before {
    content: counter(item1)'.'counter(item2)'.';
    counter-increment: item2;
}

ol ol ol {
    counter-reset: item3;
}

ol ol ol li:before {
    content: counter(item1)'.'counter(item2)'.'counter(item3)'.';
    counter-increment: item3;
}

ol ol ol ol {
    counter-reset: item4;
}

ol ol ol ol li:before {
    content: counter(item1)'.'counter(item2)'.'counter(item3)'.'counter(item4)'.';
    counter-increment: item4;
}

ul.no-padding {
    &, li {
        padding-left: 0;
        margin-left: 0;
    }
}

#profile-tabs li {
    white-space: normal !important;
    margin-bottom: 30px;
}

.underline-title {
    border-bottom: 2px solid $primaryBrandColor;
    padding-bottom: 10px;
    width: 350px;
}

a.underline-link {
    color: $primaryBrandColor;
    text-decoration: underline;
    font-weight: normal;

    &:hover {
        color: $darkPrimaryBrandColor;
    }
}

.icon-ok:before {
    content: url('../images/metatrader/checklist.svg');
}

.icon-remove:before {
    content: url('../images/metatrader/cross.svg');
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-left {
    margin-left: 0 !important;
}

.box .no-margin-left {
    padding-left: 20px !important;
}

.has-tabs {
    * {
        outline: none;
    }
    li.col-sm {
        display: flex;
        align-items: center;
        min-width: 1vw;
        margin-top: 1px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        a {
            white-space: normal;
            text-align: center;
            width: 100%;
        }
        &.ui-tabs-active a {
            padding-bottom: 1px !important;
        }
    }
}

img.float-right {
    display: flex;
    margin-left: auto;
    padding: 10px 0;
}

.separator-vertical {
    width: 2px;
}

.center-align {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle-align {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gutters {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.fx-cashier {
    .button {
        margin-right: 20px;
    }
}

#msg_notification {
    font-size: $FONT_SIZE_S;
    padding: 3px 0;
    line-height: 20px;
    display: none;
}

img.responsive {
    max-width: 100%;
}

iframe {
    width: 100%;
}

.margin-bottom-3 {
    margin-bottom: 3em;
}

.fx-refer-a-friend {
    .box {
        position: relative;
    }
    .number {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        background: $primaryBrandColor;
        color: $white;
        padding: 10px;
        font-size: 22px;
    }
}

.required {
    font-size: inherit !important;
    font-style: inherit !important;
}

.steps p {
    margin: 0.5em 0 2em;
    padding: 0;
}

#choose_platform {
    .bordered-light {
        padding: 10px 30px 30px;
        border: 3px solid $fillColor;
        border-radius: $BORDER_RADIUS;
        height: 100%;
    }
}

#home-academy {
    .row ~ .row {
        margin: 30px 0 20px;
        position: relative;

        [class*=fx-] {
            margin-bottom: 20px;
        }
        .fx-3-dots-line {
            position: absolute;
            margin: auto;
            top: 15px;
            left: 0;
            bottom: 0;
            right: 0;
            width: 560px;
            @media (max-width: 800px) {
                display: none;
            }
        }
    }
}

.table-col-bordered {
    th:nth-child(2) {
        border-top: 4px solid $primaryBrandColor;
        border-left: 4px solid $primaryBrandColor;
        border-right: 4px solid $primaryBrandColor;
        color: $primaryBrandColor;
    }
    td:nth-child(2) {
        border-left: 4px solid $primaryBrandColor;
        border-right: 4px solid $primaryBrandColor;
        color: $primaryBrandColor;
    }
    tr:last-child {
        td:nth-child(2) {
            border-bottom: 4px solid $primaryBrandColor;
        }
    }
}

.table-fixed {
    table-layout: auto;
    @media (min-width: 575px) {
        table-layout: fixed;
    }

    td {
        vertical-align: middle;
    }
}

.flex-grow, .flex-adapt {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.flex-adapt {
    flex: 0 1 auto;
}

#how_payment_works {
    fieldset {
        border: 3px solid $fillColor !important;
        padding: 40px;

        legend {
            color: $primaryBrandColor;
            padding: 0 10px;
            margin-left: -20px;
        }
        .amount {
            color: $primaryBrandColor;
            font-size: $FONT_SIZE_S;
        }
        .arrow-1 > div {
            width: 155px;
            height: 33px;
            background: url('../images/mt5/how_payment_works/arrow_deposit.svg') no-repeat center;

            &.withdraw {
                background-image: url('../images/mt5/how_payment_works/arrow_withdraw.svg');
            }
        }
        .arrow-3 {
            > div {
                width: 155px;
                height: 145px;
                line-height: 40px;
                background: url('../images/mt5/how_payment_works/arrow_deposit_3.svg') no-repeat center;

                &.withdraw {
                    background-image: url('../images/mt5/how_payment_works/arrow_withdraw_3.svg');
                }
                :first-child {
                    transform: rotate(-15deg);
                }
                :last-child {
                    transform: rotate(15deg);
                }
            }
        }
        .mt5-account {
            text-align: left;

            > div {
                margin-bottom: 25px;
            }
        }
    }
}

.button {
    text-decoration: none;
}

.align-end {
    text-align: right;
}

.modal {
    position: fixed;
    background: $fillColor;
    margin: auto;
    top: 20px;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    z-index: -1;
    width: 300px;
    height: 80vh;
    max-height: 580px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s;

    h1 {
        @include fluid-type(18px, 36px);
    }
    h2 {
        @include fluid-type(16px, 28px);
    }
    h1, h2, h3, h4 {
        line-height: 1.25;
    }
    p, a {
        @include fluid-type(12px, 16px);
        line-height: 1.5;
    }
    &--wrapper {
        height: initial;
        width: inherit;
        margin: 0;
    }
    &__header {
        position: relative;
        width: 100%;
        height: 100%;

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 100002;

            &:before {
                content: url('../images/signup/cross.svg');
            }
        }
    }
    &__body {
        padding: 30px 0 0;
        background: $fillColor;

        h2 {
            margin-bottom: 0 !important;
        }
    }
    &__form_wrapper {
        padding: 20px 0 30px;
        width: 200px;
        margin: 0 auto;

        h1 {
            margin-bottom: 0;
        }
        form {
            flex-direction: column;
            align-items: center;
            margin: 20px 0 !important;
        }
        input, button {
            text-align: center;
            width: 200px !important;
            height: 40px;
            font-size: 14px;

            ~ * {
                margin: 10px 0 0;
            }
        }
        .separator {
            margin: 20px auto;
            width: 200px;
            background: $white;
        }
        .error-msg:before {
            content: '*';
        }
    }
    &__form_message {
        padding: 50px 30px;
    }
    &__footer {
        margin: auto;
        bottom: 0;
        font-size: 12px !important;

        a:hover {
            color: $darkPrimaryBrandColor;
        }
    }
    .asterisk {
        color: $crossColor;
        font-size: 14px;
    }
    .color-blue {
        color: $primaryBrandColor;
    }
    .dash {
        height: 2px;
        background: $white;
        width: 30px;
        margin: 0 auto;
    }
    .flex-display {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .flex-display-swap {
        flex-direction: column-reverse;
        height: initial;
    }
    @media (min-width: 768px) {
        overflow: hidden;
        width: 700px;
        height: 395px;

        &__body {
            padding: 30px;
            height: 395px;
            background: $darkPrimaryBrandColor;

            h2, p, a {
                color: $white;
            }
        }
        &__form_wrapper {
            padding: 30px;
            height: 395px;

            h1 {
                margin-bottom: 20px;
            }
            form {
                margin: 40px 0 !important;
            }
            input, button {
                width: 338px !important;

                ~ .error-msg.invisible ~ button {
                    margin: 20px 0 0;
                }
                ~ .error-msg ~ button {
                    margin: 10px 0 0;
                }
            }
        }
        &__footer {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 30px 10px;

            p, a, a:hover {
                font-size: 12px;
                color: $white;
            }

        }
        .flex-display-swap {
            flex-direction: column;
            height: 100%;
        }
        .invisible.visible-md-down {
            display: block !important;
        }
    }
}

.modal--show {
    opacity: 1;
    z-index: 100001;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.field-error {
    border: 1px solid $crossColor;
}
