#header {
    border: 0 !important;
    .top-nav-menu {
        float: right;
        margin-left: auto;
        li {
            a {
                height: auto;
                padding: 25px 15px;
                border-bottom: 4px solid transparent;
                color: $contentInverseColor !important;
                &.active {
                    border-bottom-color: $borderColor;
                }
                li {
                    border-bottom: 3px solid $primaryBrandColor;
                    margin-bottom: -4px;
                }
            }
            ul {
                z-index: 10;
            }
        }
        ul li a {
            padding: 10px 15px;
            &.active {
                border-bottom: none;
            }
        }
    }
}

.main-nav > li > ul {
    box-sizing: content-box;
    margin-top: 0 !important;
}

.logo > div {
    height: 45px;
}

.logo, .logo-dark {
    height: 45px;
}

body .has-tabs .ui-tabs-panel {
    padding-left: 0;
    padding-right: 0;
}

#indices-cfd-contract-specs table th {
    max-width: 180px;
}

#fx-profile {
    .ui-tabs-nav, .ui-tabs-panel {
        width: auto;
        float: none;
    }
}

#ui-timepicker-div, #ui-datepicker-div {
    &, &:before, &:after {
        transition: none;
    }
}

.ui-datepicker, .ui-timepicker-table {
    &.ui-widget-content {
        border: 0;
    }
    &.ui-corner-all, .ui-corner-all {
        border-radius: 0;
    }
}

#ui-timepicker-div {
    .ui-state-default, .ui-widget-content .ui-state-default {
        width: 80%;
    }
}

button .barspinner.white {
    height: 13px;
    margin: 3px auto;
}
