#topbar {
    ul {
        list-style: none;
        @include no-margin-padding;
        width: 100%;
        display: block;
        li {
            display: inline-block;
            margin: 0;
            padding: 5px 12px;
            a {
                color: $white;
                padding: 5px 1px;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .last {
        margin-right: 0 !important;
        padding-right: 0;
    }
}

@media (max-width: 980px) {
    #topbar {
        text-align: center;
        ul li {
            display: inline-block;
            margin: 4px 2px;
            padding: 10px 0;
            a {
                color: $white;
                padding: 10px 15px;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}

// Header
.FX__Header__cta {
    text-align: right;
    margin-top: 25px;
}

.FX__Header__nav {
    text-align: left;
    padding-left: 20px;
    ul {
        list-style: none;
        margin-top: 30px;
        padding: 0;
        width: 100%;
        display: block;
        li {
            display: inline-block;
            margin: 0;
            padding: 3px 0;
            a {
                color: $contentInverseColor;
                padding: 0 15px;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    color: $secondaryContentColor;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    #header {
        text-align: center;
    }
    .FX__Header__nav {
        text-align: center;
        padding-left: 0;
        ul {
            list-style: none;
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
            display: block;
            li {
                display: block;
                margin: 0;
                padding: 3px 0;
                text-align: center;
            }
        }
    }
    .FX__Header__cta {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

// Sign up form
#verify-email-form {
    @include no-margin-padding;
}

.signup-box {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    div {
        display: inline;
        @include no-margin-padding;
    }
    input {
        padding: 5px;
        margin-right: 5px;
    }
    span {
        display: block;
        @include no-margin-padding;
    }
    button {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .signup-box input {
        margin: 15px 0;
    }
}

// Footer
.fx-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    font-size: $FONT_SIZE_S;
}

#footer-menu {
    padding: 10px 0;
    ul {
        margin-bottom: 10px;
        padding: 0;
    }
}

#footer-regulatory {
    padding: 10px 0;
    font-size: 10px;
    text-align: justify;
}

#footer-last {
    padding-top: 10px;
}

// Panel
.fx-panel {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    min-height: 320px;
    p {
        padding: 0 20px;
    }
    ul {
        margin-left: 0;
    }
}

.fx-panel-title {
    padding: 0 20px;
    img {
        width: 35px;
        float: left;
        margin-top: 0;
        margin-right: 15px;
    }
}

.fx-panel-item {
    padding: 15px 10px 15px 15px;
    display: block;
    height: 70px;
    div {
        display: table-cell;
        text-align: left;
        padding: 0 0 0 15px;
        vertical-align: top;
    }
}

@media (max-width: 980px) {
    .fx-panel, .fx-panel-item {
        height: auto;
    }
}

// Page Sections
.fx-section {
    padding: 50px 0;
    .fx-features-title {
        margin-bottom: 50px;
    }
}

.fx-section-sm {
    padding: 25px 0;
}

// Home page
.fx-home-header {
    @include header-background(0, '../images/header_imgfx-2x.jpg');
    padding: 40px 20px 30px;
    text-align: center;
    p {
        padding: 10px 0;
    }
}

.home-header-cta {
    margin-top: 0;
    padding: 20px;
    .button {
        display: inline-block;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.fx-home-intro p:first-child {
    padding-left: 90px;
}

@media (max-width: 767px) {
    .fx-home-intro p:first-child {
        padding-left: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
}

.fx-title {
    text-align: center;
    margin: 12px 0;
    padding: 10px;
}

.p-title {
    padding-bottom: 40px;
}

.fx-feature-box {
    text-align: center;
    margin-top: 30px;
}

.fx-box img {
    max-width: 100px;
    margin-bottom: 15px;
}

// Mission
.fx-mission-header {
    @include header-background(0.1, '../images/img_fx_2@2x.jpg');
    padding: 20px 20px 50px;
    img {
        max-height: 300px;
    }
}

.fx-value-item {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Platform
.fx-platform-options {
    text-align: center;
    .row {
        margin-bottom: 30px;
        &:first-child {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 767px) {
    .fx-platform-options .col-md {
        margin-bottom: 30px;
    }
}

// About us
.fx-about-header {
    @include header-background(0.1, '../images/about-background.png');
    padding: 0 20px;
}

// Contact us
.contact-phone {
    margin-top: 20px;
    margin-bottom: 10px;
}

#cs_telephone_number {
    width: 90%;
}

#phone-result {
    padding-left: 10px;
    text-align: left;
    margin: 20px 0;
}

.phone-note {
    margin-right: 50px;
    text-align: left;
    padding-right: 40px;
}

// Tables
.champion-features {
    th {
        text-align: left;
    }
    td {
        &:first-child {
            width: 45%;
        }
        &:nth-child(2), &:last-child {
            width: 20%;
        }
        &:nth-child(3) {
            width: 15%;
        }
    }
}

.fx-package {
    text-align: center;
    td {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .fx-package {
        margin-top: 50px;
    }
}

// Helpers
.centered {
    text-align: center;
}

.space-sm {
    width: 130px;
    display: inline;
}

.w-300 {
    max-width: 200px;
}

.wide span {
    width: 90%;
}

.clean-input:focus {
    outline: none;
}

.contacts-title {
    padding-bottom: 30px;
}

//borders
.fx-tb {
    border-top: 1px solid $borderColor;
}

.fx-rb {
    border-right: 1px solid $borderColor;
}

.fx-bb {
    border-bottom: 1px solid $borderColor;
}

.fx-lb {
    border-left: 1px solid $borderColor;
}

.fx-hr {
    border-top: 1px solid $secondaryContentColor;
    margin: 30px 0;
}

.app-info {
    min-height: 70px;
}

.border {
    border: 1px solid $borderColor;
}

.fx-material {
    @include shadow-transition;
}

// Buttons
.store-button {
    display: inline-table;
    width: 140px;
    height: auto;
    @include shadow-transition;
}

// Images
.img-lg {
    margin: 20px 0;
}

.img-xl {
    margin: 50px 0;
}

fieldset {
    border: 1px solid $borderColor;
    padding: 5px;
    margin-bottom: 10px;
    .form-label {
        text-align: right;
        margin: 10px;
    }
    .form-input {
        margin: 10px;
    }
}

.submit-holder {
    text-align: center;
    p {
        display: block;
    }
}

.hidden {
    display: none !important;
}
