html {
    height: 100%;
    overflow-x: hidden;
    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        #champion-container {
            flex: 1 1 auto;
        }
    }
}

.page-title {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
}

.section-title {
    padding-bottom: 5px;
    color: $white;
    border-bottom: 2px solid $borderColor;
    display: inline-block;
    width: auto;
}

button {
    white-space: nowrap;
}

.white {
    color: $white;
}

h1.main-title {
    border-bottom: 2px solid $fillColor;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.separator.fill-bg-color {
    margin: 40px 0;
}

//top bar
.topbar-container div {
    display: inline-flex;
}

.topbar-contacts {
    display: inline-block;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        li {
            display: inline-block;
            margin: 0;
            padding: 5px 12px;
            a {
                font-weight: 400;
                padding: 5px 1px;
            }
        }
    }
}

// Header
.FX__Header__cta {
    text-align: right;
    margin-top: 20px;
}

.menu-container {
    margin: 0 15px;
}

// Sign up form
#verify-email-form {
    @include no-margin-padding;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.signup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    div {
        display: inline;
        @include no-margin-padding;
    }
    input {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    span {
        display: block;
        text-align: left;
        @include no-margin-padding;
    }
    button {
        margin: 0;
    }
}

#main-signup {
    margin-left: auto;
    .signup-button {
        margin: auto;
        text-align: right;
        padding: 0;
        li {
            padding: 10px 0;
        }
    }
}

.license-box {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    div {
        display: inline;
        @include no-margin-padding;
    }
    img {
        width: 65px;
    }
}

// Footer
#footer {
    .fx-footer {
        display: table;
        width: 100%;
        padding: 10px 0;
        font-size: $FONT_SIZE_S;
    }
    #footer-menu {
        padding: 10px 0;
        ul {
            margin-bottom: 10px;
            padding: 0;
            &.social-network {
                text-align: right;
                width: 100%;
                margin: 0;
                li {
                    display: inline-block;
                    margin-left: 5px;
                    margin-top: 0;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    #footer-regulatory {
        padding: 25px 0 0;
        font-size: 10px;
        text-align: justify;
        .container {
            border-bottom: 1px solid $borderColor;
            padding-bottom: 25px;
        }
    }
    #footer-last {
        padding: 10px 0;
        font-size: $FONT_SIZE_S;
    }
    #end_note {
        line-height: 25px;
        text-align: center;
        background: $secondaryContentColor;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;
        &, a {
            color: $black;
            font-size: $FONT_SIZE_XS;
        }
    }
}

// Panel
.fx-panel-container {
    background: $white;
}

.fx-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 320px;
    p {
        padding: 0 20px;
    }
    ul {
        margin-left: 0;
    }
}

.fx-panel-title {
    padding: 0 20px;
    img {
        width: 35px;
        float: left;
        margin-top: 0;
        margin-right: 15px;
    }
}

.fx-panel-item {
    padding: 15px 10px 15px 15px;
    display: block;
    height: 150px;
    div {
        text-align: center;
        padding: 10px 12px 0;
        vertical-align: top;
    }
}

// Page Sections
.fx-section {
    padding: 20px 0 40px;
    .fx-features-title {
        margin-bottom: 50px;
    }
}

.fx-section-sm {
    padding: 25px 0;
}

// Home page
.fx-home-header {
    @include header-background(0, '../images/header_imgfx-2x.jpg');
    padding: 40px 20px 30px;
    text-align: center;
    p {
        padding: 10px 0;
    }
}

.home-header-cta {
    margin-top: 0;
    padding: 20px;
    .button {
        display: inline-block;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.fx-home-intro p:first-child {
    padding-left: 90px;
}

.fx-title {
    text-align: center;
    margin: 12px 0;
    padding: 10px;
}

.fx-feature-box {
    text-align: center;
    margin-top: 30px;
}

.fx-box img {
    max-width: 100px;
    margin-bottom: 15px;
}

// Mission
.fx-mission-header {
    @include header-background(0.1, '../images/img_fx_2@2x.jpg');
    padding: 20px 20px 50px;
    img {
        max-height: 300px;
    }
}

.fx-value-item {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Platform
.fx-platform-options {
    text-align: center;
    .row {
        margin-bottom: 30px;
        &:first-child {
            margin-bottom: 10px;
        }
    }
}

// About us
.fx-about-header {
    @include header-background(0.1, '../images/about-background.png');
    padding: 0 20px;
}

// Contact us
.contact-phone {
    margin-top: 20px;
    margin-bottom: 10px;
}

#phone-result {
    text-align: left;
    margin: 20px 0;
}

#contacts-emails-container {
    padding: 0;
    background: url('../images/c_img.png');
    .contacts-emails {
        padding-bottom: 30px;
        color: $white;
        .row {
            padding: 25px 0 0;
            &.emails {
                padding: 25px 0;
                border-bottom: 1px solid $borderColor;
            }
        }
    }
}

.phone-note {
    margin-right: 50px;
    text-align: left;
    padding-right: 40px;
}

// Tables
.champion-features {
    th {
        text-align: left;
    }
    td {
        &:first-child {
            width: 45%;
        }
        &:nth-child(2), &:last-child {
            width: 20%;
        }
        &:nth-child(3) {
            width: 15%;
        }
    }
}

.fx-package {
    text-align: center;
    td {
        padding: 10px;
    }
}

// Helpers
.space-sm {
    width: 130px;
    display: inline;
}

.w-300 {
    max-width: 200px;
}

.wide span {
    width: 90%;
}

.clean-input:focus {
    outline: none;
}

.contacts-title {
    padding-bottom: 30px;
}

//borders
.fx-tb {
    border-top: 1px solid $borderColor;
}

.fx-rb {
    border-right: 1px solid $borderColor;
}

.fx-bb {
    border-bottom: 1px solid $borderColor;
}

.fx-lb {
    border-left: 1px solid $borderColor;
}

.fx-hr {
    border-top: 1px solid $secondaryContentColor;
    margin: 30px 0;
}

.app-info {
    min-height: 70px;
}

.border {
    border: 1px solid $borderColor;
}

.fx-material {
    @include shadow-transition;
}

// Buttons
.store-button {
    display: inline-table;
    width: 140px;
    height: auto;
    @include shadow-transition;
}

// Images
.img-lg {
    margin: 20px 0;
}

.img-xl {
    margin: 50px 0;
}

fieldset {
    border: none !important; // 1px solid $borderColor;
    padding: 5px;
    margin-bottom: 10px;
}

.form-row {
    width: 350px;
    max-width: 100%;
    margin-bottom: 20px;
    select, input:not([type='checkbox']), textarea {
        width: 100%;
    }
    &.checkbox label {
        display: inline;
    }
}

.center-text .form-row {
    width: auto;
}

.submit-row {
    margin: 40px 0;
}

.hidden {
    display: none !important;
}

.champion-accounts {
    th {
        text-align: center;
    }
    td {
        &:first-child {
            width: 25%;
        }
        &:nth-child(2), &:nth-child(3), &:last-child {
            width: 25%;
            text-align: center;
        }
    }
}

.binary-accounts {
    th {
        text-align: center;
    }
    td {
        width: 50%;
        text-align: center;
        vertical-align: middle;
    }
}

.forex-accounts td {
    width: 50%;
    vertical-align: middle;
}

.bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    top: 100%;
}

.fx-divider {
    height: 5px;
    margin: 20px 0;
}

.fx-divider-xl {
    height: 5px;
    margin: 40px 0;
}

.lg-padding {
    padding: 20px !important;
}

.txt-right {
    text-align: right;
}

.notes {
    text-align: left;
    thead, th {
        background: none !important;
    }
}

// fix
.topbar {
    padding: 0 !important;
    height: 30px;
    .menu-container {
        line-height: 30px;
    }
    .upgrade-message a {
        padding: 0 10px;
        background: $contentInverseColor;
        color: $darkPrimaryBrandColor;
    }
}

.languages {
    padding: 0;
    margin: 0;
    z-index: 9;
}

.language {
    padding: 0 5px;
}

.top-nav-menu a {
    color: $contentInverseColor !important;
    li {
        border-bottom: 3px solid $primaryBrandColor;
        margin-bottom: -4px;
    }
}

.logo-parent {
    padding: 0;
    margin: 0;
}

.test {
    background-color: $darkPrimaryBrandColor;
}

select[disabled=disabled] {
    color: $secondaryContentColor;
}

// 404 error code
.big-error-code {
    color: $secondaryContentColor;
    font-size: 10em;
    font-weight: normal;
}

// Payment methods table
.fx-payment-methods table {
    margin: 20px 0;
    tr {
        height: 60px;
    }
    th, td {
        text-align: left;
        border-bottom: none;
    }
    .fx-subheader {
        background-color: $white;
        font-weight: 100;
        border-top: solid 1px $borderColor;
    }
}

// Settings page
a:hover {
    text-decoration: none !important;
}

// financial assessment popup
.lightbox {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;
}

.lightbox > div {
    display: table-cell;
    vertical-align: middle;
}

.lightbox > div > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    width: 44em;
    text-align: center;
    background-color: $white;
    border-radius: $BORDER_RADIUS;
    max-height: 80vh;
    overflow: auto;
}

.small-spinner .barspinner {
    height: 15px;
    margin: 7px;
}

/* Multi-level numbered list */
ol {
    counter-reset: item1;
}

ol li {
    display: block;
    position: relative;
}

ol li:before {
    content: counter(item1)'.';
    counter-increment: item1;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

ol ol {
    counter-reset: item2;
}

ol ol li:before {
    content: counter(item1)'.'counter(item2)'.';
    counter-increment: item2;
}

ol ol ol {
    counter-reset: item3;
}

ol ol ol li:before {
    content: counter(item1)'.'counter(item2)'.'counter(item3)'.';
    counter-increment: item3;
}

ol ol ol ol {
    counter-reset: item4;
}

ol ol ol ol li:before {
    content: counter(item1)'.'counter(item2)'.'counter(item3)'.'counter(item4)'.';
    counter-increment: item4;
}

ul.no-padding {
    &, li {
        padding-left: 0;
        margin-left: 0;
    }
}

#profile-tabs li {
    white-space: normal !important;
    margin-bottom: 30px;
}

.underline-title {
    border-bottom: 2px solid $primaryBrandColor;
    padding-bottom: 10px;
    width: 350px;
}

.no-margin-top {
    margin-top: 0;
}

.has-tabs {
    * {
        outline: none;
    }
    li.col-sm {
        display: flex;
        align-items: center;
        min-width: 1vw;
        a {
            white-space: normal;
            text-align: center;
            width: 100%;
        }
    }
}

img.float-right {
    display: flex;
    margin-left: auto;
    padding: 10px 0;
}

.separator-vertical {
    width: 2px;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
}

.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
