#header {
    border: 0 !important;

    .top-nav-menu {
        float: right;
        margin-left: auto;

        li {
            a {
                height: auto;
                padding: 25px 15px;
                border-bottom: 4px solid transparent;
                color: $contentInverseColor !important;

                &.active {
                    border-bottom-color: $borderColor;
                }
                li {
                    border-bottom: 3px solid $primaryBrandColor;
                    margin-bottom: -4px;
                }
            }
            ul {
                z-index: 10;
            }
        }
        ul li a {
            padding: 10px 15px;

            &.active {
                border-bottom: none;
            }
        }
    }
}

#top_group.logged-in {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    #topbar {
        display: none;
    }
    #header {
        border: none;

        .logo-parent {
            padding: 5px 0;

            .logo, .logo > div {
                width: 40px;
                height: 40px;
            }
            .binary-logo-text > div {
                margin-top: 5px;
            }
        }
        .top-nav-menu {
            float: none;
            margin-left: 0;

            li a {
                padding: 0 15px;
                line-height: 50px;
                border-bottom: none;

                &.active {
                    background: $darkPrimaryBrandColor;
                }
            }
        }
        &, #main-logout, #main-account {
            height: 50px;
        }
        #main-logout, .main-nav {
            width: auto;
            min-width: 160px;
            white-space: nowrap;
            border: 0;
        }
        .account-balance {
            font-size: $FONT_SIZE_S;
        }
        .account-type {
            font-size: $FONT_SIZE_XS;
        }
        .main-nav li {
            text-align: left;

            a {
                padding: 0 15px;
            }
            .nav-caret {
                position: absolute;
                top: 20px;
                right: 10px;
            }
        }
        #main-logout li.account > a {
            background: $darkPrimaryBrandColor;
            height: 50px;
            margin-top: 0;
            display: flex;
            align-items: center;
        }
        #all-accounts {
            padding-top: 0;

            &, li ul {
                background: $primaryBrandColor;
                border: none;
            }
            a {
                color: $white;
            }
            ul {
                margin-left: 0;

                li:hover {
                    opacity: 0.7;
                    background: none;
                }
                .separator-line-thin-gray {
                    opacity: 0.5;
                }
            }
        }
    }
    ~ #champion-container {
        margin-top: 50px;
    }
}

.main-nav > li > ul {
    box-sizing: content-box;
    margin-top: 0 !important;
}

.logo > div {
    height: 45px;
}

.logo, .logo-dark {
    height: 45px;
}

body .has-tabs .ui-tabs-panel {
    padding-left: 0;
    padding-right: 0;
}

#indices-cfd-contract-specs table th {
    max-width: 180px;
}

#fx-profile {
    &.ui-tabs-vertical {
        width: auto;
    }
    .ui-tabs-nav, .ui-tabs-panel {
        width: auto;
        float: none;
    }
}

#ui-timepicker-div, #ui-datepicker-div {
    &, &:before, &:after {
        transition: none;
    }
}

.ui-datepicker, .ui-timepicker-table {
    &.ui-widget-content {
        border: 0;
    }
    &.ui-corner-all, .ui-corner-all {
        border-radius: 0;
    }
}

#ui-timepicker-div {
    .ui-state-default, .ui-widget-content .ui-state-default {
        width: 80%;
    }
}

button .barspinner.white {
    height: 13px;
    margin: 3px auto;
}

.slick-slide {
    ul.bullet {
        padding: 1.25em 0 1.25em 1.25em;
        margin: 0;
    }
    a:focus {
        outline: none;
    }
}

ul.checked.small > li {
    background-size: 16px;
    padding-left: 24px;
}

.separator {
    height: 1px !important;
}

.box {
    margin-bottom: 2px;
}

.hint-msg {
    background: none;
    color: $darkGray;
    font-style: italic;
    margin: 0;
    padding: 10px 0;
    font-size: 12px;

    a {
        text-decoration: underline;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-bordered {
    border: 1px solid $borderColor;
    padding: 10px;
}

.timeline {
    position: relative;
    margin: 3rem 0;

    &__vertical-line {      // do not use self closing elements i.e. <hr /> with this class
        position: absolute; // browsers doesn't support pseudo elements on self-closing elements
        height: 100%;
        left: -2rem;
        border-left: 0.1rem solid $borderColor;
        margin: 0;
        @media (min-width: 1024px) {
            left: 50%;
        }

        &:before, &:after {
            position: absolute;
            content: '';
            margin-left: -0.5rem;
            background: $lightBlue;
            height: 1rem;
            width: 1rem;
            border-radius: 10rem;
        }
        &:before {
            top: -1rem;
        }
        &:after {
            bottom: -1rem;
        }
    }
    &__box {
        position: relative;
        background-color: $fillColor;
        border-radius: 0.5rem;
        padding: 2rem;
        margin: 1rem 0;
        text-align: left;
        @media (min-width: 1024px) {
            max-width: 48%;
            margin-right: 52%;
        }

        &__title {
            color: $primaryBrandColor;
            margin-top: 0;
            margin-bottom: 1.4rem;
        }
        ul {
            padding: 0;
            margin: 0;

            li {
                font-size: 14px; // @include fluid-type(12px, 14px);
            }
        }
        &:nth-of-type(odd), &:nth-of-type(even) {
            &:before, &:after {
                position: absolute;
                content: '';
                width: 1rem;
                height: 1rem;
            }
            &:before {  // arrow
                border-top: 2.5rem solid transparent;
                border-bottom: 2.5rem solid transparent;
                border-right: 2.5rem solid $fillColor;
                left: -1rem;
            }
            &:after {   // bullet
                top: 4rem;
                background: $primaryBrandColor;
                border-radius: 5rem;
                left: -2.5rem;
            }
        }
        @media (min-width: 1024px) {
            &:nth-of-type(odd) {
                text-align: right;

                &:before {
                    border-right: 2.5rem solid transparent;
                    border-left: 2.5rem solid $fillColor;
                    left: initial;
                    right: -3.5rem;
                }
                &:after {
                    left: initial;
                    right: -2.7rem;
                }
            }
            &:nth-of-type(even) {
                margin-right: 0;
                margin-left: 52%;
            }
        }
    }
    &--single-col {
        .timeline__vertical-line {
            left: 0.5rem;
        }
        .timeline__box {
            display: flex;
            align-items: center;
            align-self: center;
            background: none;
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
            text-align: left;
            padding: 1rem 2rem;

            &:before {
                border: 0;
            }
            &:after { // bullet
                left: 0;
            }
            &__date {
                font-size: 12px;
                font-style: italic;
                color: $softBlue;
            }
            &__title {
                font-size: 18px;
                margin-bottom: 0;
            }
            &__icon {
                position: absolute;
                display: block;
                top: 18px;
                right: 1rem;
                margin-right: 100%;
                @media (min-width: 575px) {
                    display: flex;
                }

                span {
                    margin: 0 0.5rem;
                }
            }
        }
    }
}

.col-bordered {
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid $primaryBrandColor;

    .box {
        height: 100%;
        padding: 15px 0;
    }
}

.yt-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.yt-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 1rem 0;
}

.img-md {
    height: 80px;
}
