body .top-nav-menu li a {
    height: auto;
    padding: 25px 15px;
    margin-bottom: -4px;
}

.main-nav > li > ul {
    box-sizing: content-box;
}

.top-nav-menu > li > ul {
    z-index: 10;
}

.top-nav-menu a.active {
    border-bottom: 4px solid $borderColor;
}

.top-nav-menu {
    float: right;
}

.logo > div {
    height: 45px;
}

.logo, .logo-dark {
    height: 45px;
}

@media screen and (max-width: 991px) {
    .top-nav-menu {
        float: left !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
