$black: #000;
$white: #fff;
$primaryBrandColor: #004385;
$darkPrimaryBrandColor: #013365;
$contentColor: #000;
$contentInverseColor: #FFF;
$secondaryContentColor: #C2C2C2;
$borderColor: #DEDEDE;
$fillColor: #F2F2F2;
