$black: #000;
$white: #fff;
$primaryBrandColor: #004385;
$darkPrimaryBrandColor: #013365;
$contentColor: #000;
$contentInverseColor: #fff;
$secondaryContentColor: #c2c2c2;
$borderColor: #dedede;
$fillColor: #f2f2f2;
$okColor: #1ec522;
$crossColor: #ea202d;
$darkGray: #9b9b9b;
$lightBlue: #bfd0e0;
$lighterBlue: #e0e8f0;
$softBlue: #98B3CD;
