$IS_LTR : true;
$FONT-STACK: 'Noto Sans', sans-serif;
$FONT_SIZE_N: 18px;
$FONT_SIZE_S: 13px;
$FONT_SIZE_XS: 11px;
$BORDER_RADIUS: 2px;
// Shadows
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$z-depth-1-half: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);

