@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
    .signup-box input {
        margin: 15px 0;
    }
    #end_note, #license-box-container {
        display: none;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
    .fx-home-intro p:first-child {
        padding-left: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
    .fx-platform-options .col-md {
        margin-bottom: 30px;
    }
    .fx-package {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
    .top-nav-menu a {
        font-size: 0.9rem !important;
    }
    .fx-panel, .fx-panel-item {
        height: auto;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
