@media (max-width: 340px) {
    .fx-one-zero:before {
        transform: scale(0.8);
    }
    .fx-mt5-gateaway:before {
        transform: scale(0.8);
    }
    .fx-fix-api:before {
        transform: scale(0.8);
    }
}

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
    .signup-box input {
        margin: 15px 0;
    }
    // temporary workaround until we adopt responsive typography
    .font-resize {
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
    .text-justified {
        text-align: justify;
    }
    .navbar__brand.logged-in {
        display: none;
    }
    .navbar__button-group {
        width: 40px;
        padding: 25px 0;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
    .fx-home-intro p:first-child {
        padding-left: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
    .fx-platform-options .col-md {
        margin-bottom: 30px;
    }
    .fx-package {
        margin-top: 50px;
    }
    .table-container {
        overflow-x: auto;
    }
    .fx-box-margin {
        margin-bottom: 10px;
    }
    .fx-row-margin-top {
        margin-top: 10px !important;
    }
    .fx-partnerships-margin-bottom {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .container, .fx-container {
        width: 100%;
    }
    .fx-row-margin-bottom {
        margin-bottom: 30px;
    }
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
    .top-nav-menu a {
        font-size: 0.9rem !important;
    }
    .fx-panel, .fx-panel-item {
        height: auto;
    }
    .fx-liquidity-margin-top {
        margin-top: 30px;
    }
    .fx-partnerships-margin-top {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .container, .fx-container {
        width: 100%;
    }
    .hidden-md-up {
        display: none !important;
    }
    .fx-row-margin-bottom {
        margin-bottom: unset;
    }
}

// desktop breakpoint for header is 1024px
@media (min-width: 1024px) {
    #topbar, #header {
        .hidden-lg-up {
            display: none !important;
        }
        .hidden-lg-down {
            display: inline-block !important;
        }
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
    #account-info {
        float: right;
        white-space: nowrap;
    }
}

@media (min-width: 1200px) {
    .hidden-lg-up {
        display: none !important;
    }
    .navbar__button-group {
        margin-left: 60px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 1100px;
    }
}
