#mt_account_management {
    border: 3px solid $fillColor;
    border-radius: $BORDER_RADIUS;

    > div {
        display: flex;
    }
    .mt-container {
        padding: 20px;
    }
    .mt-panel {
        margin-bottom: 20px;
        flex: 1;
        flex-direction: column;
    }
    #account_selector {
        position: relative;
        cursor: pointer;

        #mt5_account, #accounts_list {
            border: 1px solid $primaryBrandColor;
        }
        #mt5_account {
            height: 36px;
            line-height: 36px;
            padding: 0 20px;
            box-sizing: border-box;
            margin: 0;
            overflow: hidden;
            background: $primaryBrandColor;
            color: $white;
            border-radius: $BORDER_RADIUS;

            &.open {
                border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
            }
            &:after {
                content: '';
                display: block;
                float: right;
                margin-top: 17px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $white;
            }
        }
        #accounts_list {
            width: 100%;
            border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
            border-top: 0;
            display: none;
            position: absolute;
            background: $white;
            z-index: 1;

            .acc-name {
                line-height: 30px;
                padding: 0 20px;
                border-top: 1px solid $fillColor;

                &:hover {
                    background: $fillColor;
                }
                &.selected {
                    color: $primaryBrandColor;
                    background: $fillColor;
                }
                .mt-balance {
                    float: right;
                    font-size: $FONT_SIZE_S;
                }
                .mt-icon {
                    float: right;
                }
            }
            .separator {
                margin: 10px 0;
            }
        }
    }
    #mt_left_panel {
        flex-direction: column;
        padding-right: 0px;
    }
    #mt_right_panel {
        border-left: 3px solid $fillColor;
        font-size: $FONT_SIZE_S;
        padding-left: 0;

        .platforms li {
            margin-bottom: 10px;

            img {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
    #account_details {
        flex: 0;
        margin-bottom: 0;

        #acc_icon {
            width: 90px;
            height: 90px;
            border: 2px solid $borderColor;
            border-radius: 50%;
            background: no-repeat center;
            background-size: 50px;

            &.cent {
                background-image: url('../images/metatrader/dashboard/acc_cent.svg');
            }
            &.standard {
                background-image: url('../images/metatrader/dashboard/acc_standard.svg');
            }
            &.stp {
                background-image: url('../images/metatrader/dashboard/acc_stp.svg');
            }
        }
        .acc-info {
            font-size: $FONT_SIZE_S;

            .login {
                padding: 2px 15px;
                border-radius: 15px;
                background: $fillColor;
                color: $primaryBrandColor;
            }
            .balance {
                font-size: $FONT_SIZE_N;
                color: $primaryBrandColor;
            }
        }
    }
    .tab-container {
        padding: 0 10px 10px;

        .acc-actions {
            display: flex;

            * {
                transition: unset !important;
            }
            .spacer {
                width: 5px;
            }
            a {
                border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
                line-height: 40px;
                font-weight: normal;
                flex: 1;
                background: #e0e8f0; /* stylelint-disable-line color-no-hex */
                color: $black;

                &.selected {
                    border: 2px solid $fillColor;
                    border-bottom: none;
                    background: $white;
                    color: $primaryBrandColor;
                    padding-bottom: 2px;
                    margin-bottom: -2px;
                }
            }
        }
    }
    .fst-container {
        border: 2px solid $fillColor;
        border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;

        #fst_action {
            position: relative;

            h4 {
                padding-top: 6px;
            }
            .separator, #main_msg {
                margin-bottom: 20px;
            }
            button .barspinner.white {
                height: 13px;
                margin: 3px;
            }
            #frm_cashier {
                .mt-panel {
                    margin-bottom: 0;
                    padding: 15px;
                }
                .bordered {
                    border: 2px solid $fillColor;
                }
                .binary-balance, .mt5-balance {
                    font-weight: bold;
                    color: $primaryBrandColor;
                    font-size: $FONT_SIZE_N;
                }
                .flex {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    &:first-child {
                        padding-right: 10px;
                    }
                    &:last-child {
                        padding-left: 10px;
                    }
                }
                .cashier-guide {
                    display: inline-block;

                    div {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 20px;
                        text-align: left;

                        &:first-child {
                            text-align: right;
                        }
                    }
                }
                img {
                    height: 64px;
                    max-width: 64px;
                }
            }
            #frm_new_account #btn_next span {
                padding-right: 50px;
                padding-left: 50px;
            }
            #view_1 {
                margin: 0 50px;

                .flex {
                    display: flex;
                    flex: 1;
                }
                .mt5-type-box {
                    margin: 0 auto;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border: 1px solid $fillColor;

                    &:hover {
                        border-color: $primaryBrandColor;
                    }
                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        border: 1px solid $fillColor;
                        border-radius: 50%;
                        position: absolute;
                        right: 6px;
                        top: 6px;
                    }
                    &.existed:before {
                        background: url('../images/metatrader/dashboard/tick_gray.svg');
                        border: none;
                    }
                    &.selected {
                        border-color: $primaryBrandColor;
                        cursor: default;

                        &:before {
                            background: url('../images/metatrader/dashboard/tick.svg');
                            border: none;
                        }
                    }
                    &.disabled:before {
                        display: none;
                    }
                    &.disabled, &.existed {
                        cursor: default;

                        &:hover {
                            border-color: $fillColor;
                        }
                    }
                }
                .step-1 .mt5-type-box {
                    flex-direction: column;
                    padding-top: 20px;
                    width: 100%;
                    border-width: 3px;

                    .title {
                        color: $primaryBrandColor;
                    }
                    .image {
                        display: inline-block;
                        width: 75px;
                        height: 50px;
                        margin-top: 10px;
                        background: url('../images/metatrader/dashboard/acc_demo.svg') no-repeat center;
                    }
                    &#rbtn_real .image {
                        background-image: url('../images/metatrader/dashboard/acc_real.svg');
                    }
                    &#rbtn_real.disabled .image {
                        background-image: url('../images/metatrader/dashboard/acc_real_disabled.svg');
                    }
                    #msg_real_financial {
                        display: none;
                    }
                    &.disabled {
                        .title {
                            color: $secondaryContentColor;
                        }
                        .desc {
                            display: none;
                        }
                        #msg_real_financial {
                            display: block;
                            margin-top: 10px;
                            text-align: left;
                        }
                    }
                }
                .step-2 {
                    .mt5-type-box {
                        width: 128px;
                        height: 128px;

                        &.disabled, &.existed {
                            background: rgba(0, 0, 0, 0.05);
                        }
                        div {
                            font-weight: bold;
                            color: $primaryBrandColor;
                            text-align: center;
                            flex: 1;
                        }
                        img {
                            height: 65px;
                            flex: 1;
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .txt-left {
        text-align: left;
    }
    .padding-10 {
        padding: 10px 0;
    }
    .small-text {
        font-size: $FONT_SIZE_XS;
    }
}

@media (max-width: 575px) {
    #mt_account_management {
        #mt_left_panel {
            padding: 0 10px;

            #account_selector {
                margin-left: 20px;
            }
        }
        #mt_right_panel {
            padding: 0 10px;
        }
        .fst-container #fst_action #frm_cashier .flex {
            &:first-child {
                padding-right: 15px;
                margin-bottom: 10px;
            }
            &:last-child {
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 991px) {
    #mt_account_management .mt-container {
        padding: 10px;
    }
}

@media (max-width: 1199px) {
    #mt_account_management {
        #accounts_list {
            font-size: $FONT_SIZE_S;

            .mt-balance {
                font-size: $FONT_SIZE_XS !important;
            }
        }
    }
}

#mt5_web_platform {
    border: none;
    width: 100%;
}
