#mt_account_management {
    #accounts_list .acc-box {
        padding: 0 10px 0 0;
        margin-bottom: 10px;
        > div {
            height: 100%;
            border: 1px solid $borderColor;
            &:hover, &.active {
                border-color: $secondaryContentColor;
                background: $fillColor;
            }
            .title {
                line-height: 40px;
                text-align: center;
                background: $primaryBrandColor;
                color: $white;
                margin-bottom: 10px;
            }
            .no-account {
                margin-bottom: 20px;
                .info {
                    padding: 10px;
                    font-size: 0.9rem;
                    height: 120px;
                    a:before {
                        content: ' ';
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
            .loading {
                margin: 75px 0;
            }
            .acc-info div {
                font-size: 0.9rem;
                padding: 0 0 0 25px;
                line-height: 1.6em;
            }
            .acc-actions {
                margin-top: 10px;
                padding: 10px;
                border-top: 1px solid $borderColor;
                font-size: 0.9rem;
            }
        }
    }
    .fst-container {
        width: 100%;
        padding-right: 10px;
        #fst_action {
            border: 1px solid $fillColor;
            margin: 0;
            padding-bottom: 30px;
            position: relative;
            legend {
                background: $primaryBrandColor;
                color: $white;
                padding: 5px 10px;
                margin-left: 15px;
            }
            .close {
                cursor: pointer;
                position: absolute;
                top: 16px;
                right: -1px;
                z-index: 1;
                width: 32px;
                height: 32px;
                background: $primaryBrandColor svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($white, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>') no-repeat center;
                &:hover {
                    background-color: $darkPrimaryBrandColor;
                }
            }
        }
    }
    .txt-left {
        text-align: left;
    }
}