#mt_account_management {
    #accounts_list .acc-box {
        margin-bottom: 10px;
        > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid transparent;
            &:hover, &.active {
                border-bottom-color: $primaryBrandColor;
            }
            .no-account {
                margin-bottom: 20px;
                .info {
                    padding: 10px;
                    padding-left: 0;
                    font-size: 0.9rem;
                    height: 120px;
                    a:before {
                        content: ' ';
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
            .loading {
                margin: 75px 0;
            }
            .acc-info {
                padding-top: 10px;
                div {
                    font-size: 0.9rem;
                    line-height: 1.6em;
                    &:nth-child(even) {
                        word-break: break-all;
                    }
                }
            }
            .acc-actions {
                margin-top: auto;
                padding: 10px 0;
                font-size: 0.8rem;
                a {
                    display: inline-block;
                    width: 64px;
                    text-align: center;
                    margin: 0 3px;
                    img {
                        height: 32px;
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
    .fst-container {
        width: 100%;
        padding-right: 10px;
        margin-top: 50px;
        #fst_action {
            position: relative;
            legend {
                background: $primaryBrandColor;
                color: $white;
                padding: 5px 10px;
                margin-left: 15px;
            }
            .close {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                width: 32px;
                height: 32px;
                background: $primaryBrandColor svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($white, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>') no-repeat center;
                &:hover {
                    background-color: $darkPrimaryBrandColor;
                }
            }
            button .barspinner.white {
                height: 13px;
                margin: 3px;
            }
        }
    }
    .txt-left {
        text-align: left;
    }
}