.scroll_tabs_container {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
    height: 100%;
    margin-bottom: 10px;
}

ul.scroll_tabs_container {
    list-style: none;
}

.scroll_tabs_container div.scroll_tab_inner {
    height: 100%;
}

.scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 100%;
    border-left: 1px solid $fillColor;
    border-top: 1px solid $fillColor;
    color: $primaryBrandColor;
    cursor: pointer;
}

.scroll_tabs_container div.scroll_tab_inner li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    list-style-type: none;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0px;
    width: 0px;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0px;
    width: 0px;
}

.scroll_tabs_container .scroll_tab_left_button, .scroll_tab_right_button {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_container .scroll_tab_left_button:before {
    content: '\25C0';
    line-height: 100px;
    padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_right_button:before {
    content: '\25B6';
    line-height: 100px;
    padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_right_button_disabled {
    color: $white;
    background-color: $white;
}

.tab_selected {
    background-color: $fillColor;
    border-bottom: none;
}

.tab-content-wrapper {
    display: inline-flex;
    overflow: hidden;
    div {
        width: 100%;
        display: inline-table;
        background-color: $fillColor;
        margin: 0 10px;
        padding: 5px;
    }
}

@-moz-keyframes foo {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
    }
}

@-ms-keyframes foo {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes foo {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
    }
}