// custome style
.slick-slide {
    height: 400px;
    margin: 0;
    width: 100%;
    ul {
        padding: 0;
        margin: 0;
        height: 100%;
        li {
            width: 100%;
            margin: 0;
            height: 100%;
        }
    }
}

.slick-dots {
    right: 15px;
    position: relative;
    float: right;
    margin: 0;
    li {
        display: inline-block;
        padding: 0 5px;
        line-height: 0;
        margin: 0;
        button {
            padding: 0;
            width: 10px;
            height: 10px;
            font-size: 0;
            border-radius: 100%;
            background: $secondaryContentColor;
        }
    }
}

.fx-slider-footer {
    position: relative;
    padding: 10px;
    color: $white;
    background: rgba(0, 0, 0, 0.35);
}

.fx-slider-text {
    padding: 30px;
}

#slide-1 {
    background: url('../images/about-2.jpg') no-repeat center center;
    background-size: cover;
}

#slide-2 {
    background: url('../images/about-2.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
}
