// symbols

.fx-advisors {
    background: url(../assets/images/symbols/advisors.svg);
}
.fx-algorithmic {
    background: url(../assets/images/symbols/algorithmic.svg);
}
.fx-analysis {
    background: url(../assets/images/symbols/analysis.svg);
}
.fx-analytical-tools {
    background: url(../assets/images/symbols/analytical_tools.svg);
}
.fx-cent {
    background: url(../assets/images/symbols/cent.svg);
}
.fx-cfd {
    background: url(../assets/images/symbols/cfd.svg);
}
.fx-customise {
    background: url(../assets/images/symbols/customise.svg);
}
.fx-customer-service {
    background: url(../assets/images/symbols/cs.svg);
}
.fx-customised-trade {
    background: url(../assets/images/symbols/customised_trade.svg);
}
.fx-deposit-withdrawal {
    background: url(../assets/images/symbols/deposit_withdrawal.svg);
}
.fx-desktop-mobile {
    background: url(../assets/images/symbols/devices.svg);
}
.fx-devices {
    background: url(../assets/images/symbols/devices.svg);
}
.fx-expert {
    background: url(../assets/images/symbols/expert.svg);
}
.fx-fast-execution {
    background: url(../assets/images/symbols/fast_execution.svg);
}
.fx-forex {
    background: url(../assets/images/symbols/forex.svg);
}
.fx-futures {
    background: url(../assets/images/symbols/futures.svg);
}
.fx-hassle-free {
    background: url(../assets/images/symbols/hassle_free.svg);
}
.fx-king {
    background: url(../assets/images/symbols/king.svg);
}
.fx-library {
    background: url(../assets/images/symbols/library.svg);
}
.fx-license {
    background: url(../assets/images/symbols/license.svg);
}
.fx-licensed-broker {
    background: url(../assets/images/symbols/licensed_broker.svg);
}
.fx-lowcost {
    background: url(../assets/images/symbols/lowcost.svg);
}
.fx-market-info {
    background: url(../assets/images/symbols/market_info.svg);
}
.fx-metals {
    background: url(../assets/images/symbols/metals.svg);
}
.fx-monitor-with-mouse-cursor {
    background: url(../assets/images/symbols/monitor-with-mouse-cursor.svg);
}
.fx-no-commission {
    background: url(../assets/images/symbols/no_commission.svg);
}
.fx-no-deal {
    background: url(../assets/images/symbols/no_deal.svg);
}
.fx-optimise-trade {
    background: url(../assets/images/symbols/optimise_trade.svg);
}
.fx-rebate {
    background: url(../assets/images/symbols/rebate.svg);
}
.fx-technical {
    background: url(../assets/images/symbols/technical.svg);
}
.fx-technical-indicator {
    background: url(../assets/images/symbols/technical_indicator.svg);
}
.fx-trading-signal {
    background: url(../assets/images/symbols/trading_signal.svg);
}
.fx-trader {
    background: url(../assets/images/symbols/trader.svg);
}
.fx-type-accounts {
    background: url(../assets/images/symbols/type_accounts.svg);
}
.fx-wide-markets {
    background: url(../assets/images/symbols/wide_markets.svg);
}
.fx-worldwide {
    background: url(../assets/images/symbols/worldwide.svg);
}
.fx-unbeatable {
    background: url(../assets/images/symbols/unbeatable.svg);
}
.fx-lg {
	margin-left: auto;
	margin-right: auto;
	width: 140px; 
	height: 140px;
	background-repeat: no-repeat;
	background-position: center;
}
.fx-md {
	margin-left: auto;
	margin-right: auto;
	width: 100px; 
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
.fx-sm {
	margin-left: auto;
	margin-right: auto;
	width: 60px; 
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
}
.fx-xs {
	margin-left: auto;
	margin-right: auto;
	width: 35px; 
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
}
.fx-xxs {
	margin-left: auto;
	margin-right: auto;
	width: 30px; 
	height: 30px;
	background-repeat: no-repeat;
	background-position: top center;
}
