// ChampionFX symbols
.fx-advisors {
    background: url('../images/symbols/advisors.svg');
}

.fx-algorithmic {
    background: url('../images/symbols/algorithmic.svg');
}

.fx-analysis {
    background: url('../images/symbols/analysis.svg');
}

.fx-analytical-tools {
    background: url('../images/symbols/analytical_tools.svg');
}

.fx-cent {
    background: url('../images/symbols/cent.svg');
}

.fx-cfd {
    background: url('../images/symbols/cfd.svg');
}

.fx-customise {
    background: url('../images/symbols/customise.svg');
}

.fx-customer-service {
    background: url('../images/symbols/cs.svg');
}

.fx-customised-trade {
    background: url('../images/symbols/customised_trade.svg');
}

.fx-deposit-withdrawal {
    background: url('../images/symbols/deposit_withdrawal.svg');
}

.fx-desktop-mobile {
    background: url('../images/symbols/devices.svg');
}

.fx-devices {
    background: url('../images/symbols/devices.svg');
}

.fx-expert {
    background: url('../images/symbols/expert.svg');
}

.fx-fast-execution {
    background: url('../images/symbols/fast_execution.svg');
}

.fx-forex {
    background: url('../images/symbols/forex.svg');
}

.fx-futures {
    background: url('../images/symbols/futures.svg');
}

.fx-hassle-free {
    background: url('../images/symbols/hassle_free.svg');
}

.fx-king {
    background: url('../images/symbols/king.svg');
}

.fx-library {
    background: url('../images/symbols/library.svg');
}

.fx-license {
    background: url('../images/symbols/license.svg');
}

.fx-licensed-broker {
    background: url('../images/symbols/licensed_broker.svg');
}

.fx-lowcost {
    background: url('../images/symbols/lowcost.svg');
}

.fx-market-info {
    background: url('../images/symbols/market_info.svg');
}

.fx-metals {
    background: url('../images/symbols/metals.svg');
}

.fx-monitor-with-mouse-cursor {
    background: url('../images/symbols/monitor-with-mouse-cursor.svg');
}

.fx-no-commission {
    background: url('../images/symbols/no_commission.svg');
}

.fx-no-deal {
    background: url('../images/symbols/no_deal.svg');
}

.fx-optimise-trade {
    background: url('../images/symbols/optimise_trade.svg');
}

.fx-rebate {
    background: url('../images/symbols/rebate.svg');
}

.fx-technical {
    background: url('../images/symbols/technical.svg');
}

.fx-technical-indicator {
    background: url('../images/symbols/technical_indicator.svg');
}

.fx-trading-signal {
    background: url('../images/symbols/trading_signal.svg');
}

.fx-trader {
    background: url('../images/symbols/trader.svg');
}

.fx-type-accounts {
    background: url('../images/symbols/type_accounts.svg');
}

.fx-wide-markets {
    background: url('../images/symbols/wide_markets.svg');
}

.fx-worldwide {
    background: url('../images/symbols/worldwide.svg');
}

.fx-flexible-leverage {
    background: url('../images/symbols/flexible_leverage.svg');
}

.fx-245-icon {
    background: url('../images/symbols/245_icon.svg');
}

.fx-hili-icon {
    background: url('../images/symbols/hili_icon.svg');
}

.fx-lever-icon {
    background: url('../images/symbols/lever_icon.svg');
}

.fx-virtual-money {
    background: url('../images/symbols/vm_icon.svg');
}

.fx-ecw {
    background: url('../images/symbols/ecw.svg');
}

.fx-account-password {
    background: url('../images/symbols/cp_icon.svg');
    margin-left: 0 !important; // overwrite rule for margin left
}

.fx-cashier-password {
    background: url('../images/symbols/cp_icon.svg');
    margin-left: 0 !important;
}

.fx-manage-your-funds {
    background: url('../images/symbols/chp_icon.svg');
    margin-left: 0 !important;
}

.fx-webtrader {
    background: url('../images/symbols/wt_icon.svg');
    margin-left: 0 !important;
}

.fx-mt5 {
    background: url('../images/symbols/mt5_icon.svg');
    margin-left: 0 !important;
}

.fx-no-deposit {
    background: url('../images/symbols/nd_icon.svg');
}

.fx-test-platform {
    background: url('../images/symbols/tp_icon.svg');
}

.fx-earn {
    background: url('../images/symbols/earn.svg');
    margin-top: 10px;
}

.fx-form {
    background: url('../images/symbols/form.svg');
    margin-top: 10px;
}

.fx-email {
    background: url('../images/symbols/email.svg');
    margin-top: 10px;
}

.fx-xlg, .fx-lg, .fx-md, .fx-sm, .fx-xs, .fx-xxs {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.fx-xlg {
    width: 400px;
    height: 300px;
}

.fx-lg {
    width: 140px;
    height: 140px;
}

.fx-md {
    width: 100px;
    height: 100px;
}

.fx-sm {
    width: 60px;
    height: 60px;
}

.fx-xs {
    width: 35px;
    height: 35px;
}

.fx-xxs {
    width: 30px;
    height: 30px;
}

// ChampionFX menu icons
.fx-topbar {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

// ChampionFX contact us icons
.fx-contact-flag {
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block;
}

.fx-contact-callback, .fx-contact-hour {
    width: 40px;
    height: 40px;
    margin: 0 auto;

    &.fx-contact-callback {
        background: url('../images/contact_us/call_back.svg') no-repeat center;
        background-size: cover;
    }
    &.fx-contact-hour {
        background: url('../images/contact_us/hour.svg') no-repeat center;
        background-size: cover;
    }
}

.fx-contact-hour {
    background: url('../images/contact_us/hour.svg');
}

.fx-contact-cs {
    background: url('../images/contact_us/cs_image.svg');
}

.fx-contact-email {
    background: url('../images/contact_us/email_image.svg');
}

.fx-contact-canada {
    background: url('../images/contact_us/canada.svg');
}

.fx-contact-germany {
    background: url('../images/contact_us/germany.svg');
}

.fx-contact-indonesia {
    background: url('../images/contact_us/indonesia.svg');
}

.fx-contact-ireland {
    background: url('../images/contact_us/ireland.svg');
}

.fx-contact-poland {
    background: url('../images/contact_us/poland.svg');
}

.fx-contact-russia {
    background: url('../images/contact_us/russia.svg');
}

// Liquidity solutions
//.fx {
//    display: flex;
//    justify-content: center;
//    margin: 0 0 10px;
//}

.fx-backoffice-support:before {
    content: url('../images/liquidity_solutions/backoffice_support.svg');
}

.fx-fix-api:before {
    content: url('../images/liquidity_solutions/fix_api.svg');
}

.fx-full-transparency:before {
    content: url('../images/liquidity_solutions/full_transparency.svg');
}

.fx-liquidity-solution:before {
    content: url('../images/liquidity_solutions/liquidity_solution.svg');
}

.fx-mt5-gateaway:before {
    content: url('../images/liquidity_solutions/mt5_gateway.svg');
}

.fx-multi-asset-execution:before {
    content: url('../images/liquidity_solutions/multi_asset_execution.svg');
}

.fx-one-zero:before {
    content: url('../images/liquidity_solutions/one_zero.svg');
}

// Multiple Accounts Manager

.fx-access-available:before {
    content: url('../images/multi_account_manager/fx_access_available.svg');
}

.fx-allow-expert:before {
    content: url('../images/multi_account_manager/fx_allow_expert.svg');
}

.fx-deposit:before {
    content: url('../images/multi_account_manager/fx_deposit_withdrawal.svg');
}

.fx-instant-daily:before {
    content: url('../images/multi_account_manager/fx_instant_daily.svg');
}

.fx-multi-exclusion:before {
    content: url('../images/multi_account_manager/fx_multi_exclusion.svg');
}

.fx-essential-information:before {
    content: url('../images/multi_account_manager/fx_essential_information.svg');
}

.fx-trade-allocations:before {
    content: url('../images/multi_account_manager/fx_trade_allocations.svg');
}

.fx-variety-allocations:before {
    content: url('../images/multi_account_manager/fx_variety_allocations.svg');
}

.fx-talk:before {
    content: url('../images/multi_account_manager/fx_talk.svg');
}

.fx-download:before {
    content: url('../images/multi_account_manager/fx_download.svg');
}

.fx-manage-subaccounts:before {
    content: url('../images/multi_account_manager/fx_manage_subaccounts.svg');
}

.fx-view-all:before {
    content: url('../images/multi_account_manager/fx_view_all.svg');
}

.fx-arrow-right {
    position: absolute;
    left: 0;
    top: 25%;
}

.fx-arrow-right-icon:before {
    content: url('../images/multi_account_manager/fx_arrow_right.svg');
}

.fx-arrow-down-icon:before {
    content: url('../images/multi_account_manager/fx_arrow_down.svg');
}

// Home
.fx-trading-books:before {
    content: url('../images/home/free_trading_books.svg');
}

.fx-tutorial-videos:before {
    content: url('../images/home/free_tutorial_videos.svg');
}

.fx-market-report:before {
    content: url('../images/home/free_daily_market_report.svg');
}

.fx-3-dots-line {
    content: url('../images/home/line.svg');
}

// Milestones
.fx-academy:before {
    content: url('../images/milestones/academy.svg');
}

.fx-accounts:before {
    content: url('../images/milestones/accounts.svg');
}

.fx-bitcoin:before {
    content: url('../images/milestones/bitcoin.svg');
}

.fx-ethereum:before {
    content: url('../images/milestones/ethereum.svg');
}

.fx-financial:before {
    content: url('../images/milestones/financial.svg');
}

.fx-laptop:before {
    content: url('../images/milestones/laptop.svg');
}

.fx-litecoin:before {
    content: url('../images/milestones/litecoin.svg');
}

.fx-partnership-rounded:before {
    content: url('../images/milestones/partnerships.svg');
}

.fx-phone:before {
    content: url('../images/milestones/phone.svg');
}

.fx-recruitment:before {
    content: url('../images/milestones/recruitment.svg');
}

// MT5 accounts
.fx-standard-account:before {
    content: url('../images/metatrader/standard_account.svg');
}

.fx-advanced-account:before {
    content: url('../images/metatrader/advanced_account.svg');
}

// MT5
.fx-android:before {
    content: url('../images/metatrader/android.svg');
}

.fx-apple:before {
    content: url('../images/metatrader/apple.svg');
}

.fx-linux:before {
    content: url('../images/metatrader/linux.svg');
}

.fx-windows:before {
    content: url('../images/metatrader/windows.svg');
}

.fx-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: $fillColor;
}

.fx-tools-timeframes:before {
    content: url('../images/metatrader/analytical_tools_and_timeframes.svg');
}

.fx-fundamental-analysis:before {
    content: url('../images/metatrader/fundamental_analysis.svg');
}

.fx-integrated-environment:before {
    content: url('../images/metatrader/integrated_development_environment_for_expert_advisors.svg');
}

.fx-market-depth-info:before {
    content: url('../images/metatrader/market_depth_information.svg');
}

.fx-one-click:before {
    content: url('../images/metatrader/one_click_trading.svg');
}

.fx-expert-advisors:before {
    content: url('../images/metatrader/ready_to_use_expert_advisors.svg');
}

.fx-copy-trading:before {
    content: url('../images/metatrader/trading_signals_and_copy_trading.svg');
}

.fx-friendly-ui:before {
    content: url('../images/metatrader/user_friendly_interface.svg');
}

.fx-back-testing-tool:before {
    content: url('../images/metatrader/back_testing_tool.svg');
}

// Binary options
.fx-payouts:before {
    content: url('../images/binary_options/competitive_payouts.svg');
}

.fx-risk:before {
    content: url('../images/binary_options/controlled_risk.svg');
}

.fx-easy-trade:before {
    content: url('../images/binary_options/easy_to_trade.svg');
}

.fx-low-stakes:before {
    content: url('../images/binary_options/low_stakes.svg');
}

.fx-no-surprises:before {
    content: url('../images/binary_options/no_surprises.svg');
}

.fx-sharp-prices:before {
    content: url('../images/binary_options/sharp_prices.svg');
}

.fx-simple:before {
    content: url('../images/binary_options/simple_and_intuitive.svg');
}

.fx-world-square:before {
    content: url('../images/binary_options/trade_the_worlds_markets.svg');
}

.fx-wide-products:before {
    content: url('../images/binary_options/wide_product_range.svg');
}
