<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://style.champion-fx.com/binary.css">
  <link rel="stylesheet" href="{{ "/assets/flex.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/fx.css" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicons/CFX_favicon16.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicons/CFX_favicon32.png" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="/assets/js/lib/jquery-3.1.1.min.js"></script>
  <script src="/assets/js/lib/jquery.cookie.js"></script>

  <script src="/assets/js/signup.js"></script>
  <script src="/assets/js/createaccount.js"></script>
  <script src="/assets/js/router.js"></script>
  <script src="/assets/js/socket.js"></script>
  <script src="/assets/js/champion.js"></script>
</head>