<div class="fx-section">
    <div class="container">
        [% INCLUDE components/page_title.html.tt title=l('Login history') %]
        [% INCLUDE static/common/loading.html.tt %]

        <p class="error-msg"></p>
        <div id="fx-login-history" class="table-container"></div>
    </div>
</div>
