<div class="submit-row[% is_centered ? ' center-text' : '' %] [% row_class %]">
    <p id="[% msg_id || 'msg_form' %]" class="error-msg hidden"></p>
    <button id="[% id || 'btn_submit' %]"[% IF type=='submit' %] type="submit"[% END %]>[% text %]</button>
</div>
