#topbar ul {
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%; 
	display:block;
}
#topbar ul li {
	display:inline-block; 
	margin:0px; 
	padding:5px 12px;
}
#topbar ul li a{
	color:$white; 
	padding:5px 1px; 
	font-weight:400; 
	text-decoration:none; 
}
#topbar .last  {
	margin-right:0px!important;
	padding-right:0;
}
#topbar ul li a:hover{ 
	text-decoration:underline; 
}
	@media (max-width: 980px) {
		#topbar {
		   text-align:center;
		}
		#topbar ul li {
			display:inline-block; 
			margin:4px 2px; 
			padding:10px 0px;
		}
		#topbar ul li a{
			color:$white; 
			padding:10px 15px; 
			font-weight:400; 
			text-decoration:none; 
		}
	}
// Header	
.FX__Header__cta {
	text-align:right; 
	margin-top:25px;
}	   
.FX__Header__nav {
   text-align:left;
   padding-left:20px;
}
.FX__Header__nav ul {
	list-style:none; 
	margin-top:30px; 
	padding:0; 
	width:100%; 
	display:block;
}
.FX__Header__nav ul li {
	display:inline-block; 
	margin:0px; 
	padding:3px 0px;
}
.FX__Header__nav ul li a{
	color:$contentInverseColor; 
	padding:0px 15px; 
	font-weight:400; 
	text-decoration:none; 
}
.FX__Header__nav ul li a:hover{
	color:$secondaryContentColor; 
	text-decoration:none; 
}
    @media (max-width: 980px) {
		#header{
			text-align:center; 
		}
		.FX__Header__nav {
		   text-align:center;
		   padding-left:0px;
		}
		.FX__Header__nav ul {
			list-style:none; 
			margin-top:10px; 
			margin-bottom:0px;
			padding:0; 
			width:100%; 
			display:block;
		}
		.FX__Header__nav ul li {
			display:block; 
			margin:0px; 
			padding:3px 0px;
			text-align:center;
		}
		.FX__Header__cta {
			text-align:center; 
			margin-top:20px; 
			margin-bottom:20px;
		}
	}
// Sign up form
#verify-email-form {
    margin:0px;
	padding:0px;
}
.signup-box {
    display:inline-block;
	margin: 20px 0;
	padding: 10px;
}
.signup-box div {
    display:inline;
	margin:0;
	padding:0;
}
.signup-box input {
	padding:5px 5px;
	margin-right:5px;
}
.signup-box span {
    display:block;
	margin:0;
	padding:0;
}
.signup-box button{
    margin:0;
}
	@media (max-width: 480px) {
	    .signup-box input {
			margin:15px 0;
        }	
	}
	
// Footer	
.fx-footer {
	display:table; 
	width:100%;  
	padding:10px 0;
	font-size:$FONT_SIZE_S;
}
#footer-menu {
    padding: 10px 0;
}
#footer-menu ul { 
	margin-bottom:10px; 
	padding:0; 

}
#footer-regulatory {
    padding:10px 0px;
    font-size: 10px;
	text-align: justify;
}
#footer-last {
    padding-top:10px;
}
// Panel
.fx-panel { 
	padding-top:10px; 
	padding-bottom:20px;
	margin-bottom:20px;
	min-height:320px;
}   
.fx-panel-title{
    padding:0px 20px 0px 20px;
}
.fx-panel-title img {
	width:35px; 
	float:left; 
	margin-top:0px; 
	margin-right:15px;
}
.fx-panel p {
    padding:0 20px;
}
.fx-panel ul {
    margin-left:0;
}
.fx-panel-item {
    padding:15px 10px 15px 15px;
    display:block;
	height:70px;
}
.fx-panel-item div{
    display:table-cell;
	text-align:left;
	padding:0px 0px 0px 15px;
	vertical-align:top;
}
    @media (max-width: 980px) {
	    .fx-panel {
			height:auto;
		}
		.fx-panel-item {
			height:auto;
		}

	}
// Page Sections
.fx-section {
    padding:50px 0px;
}
.fx-section-sm {
    padding:25px 0px;
}
.fx-section .fx-features-title {
    margin-bottom:50px;
}
// Home page
.fx-home-header {
	width: 100%; /* for IE 6 */
	background:  
	linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
	url(../assets/images/header_imgfx-2x.jpg);
    background-size: cover;
	padding:40px 20px 30px 20px;
	text-align:center;
}
.fx-home-header p {
    padding:10px 0px;
}
.home-header-cta {
    margin-top:0px;
    padding:20px;
}
.home-header-cta .button {
	display:inline-block; 
	margin-top:5px;
	margin-left:15px;
	margin-right:15px;
}
.fx-home-intro p:first-child {
    padding-left:90px;
}
    @media (max-width: 767px) {
	    .fx-home-intro p:first-child {
            padding-left:10px;
			padding-bottom:20px;
			text-align:center;
        }
	}
.fx-title{
	text-align:center; 
	margin:12px 0; 
	padding:10px;
}
.p-title {
	padding-bottom:40px;
}
.fx-feature-box {
	text-align:center; 
	margin-top:30px;
}
.fx-box img{
	max-width:100px; 
	margin-bottom:15px;
}
// Mission
.fx-mission-header {
	width: 100%; /* for IE 6 */
	background:  
	linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
	url(../assets/images/img_fx_2@2x.jpg);
    background-size: cover;
	padding:20px 20px 50px 20px;;	
}
.fx-mission-header img {
    max-height:300px;
}
.fx-value-item {
	min-height:120px;
	display: flex;
    align-items: center;
    justify-content: center;
}
// Platform
.fx-platform-options {
	text-align:center;
}
.fx-platform-options .row:first-child {
    margin-bottom:10px;
}
.fx-platform-options .row {
    margin-bottom:30px;
}
    @media (max-width: 767px) {
	    .fx-platform-options .col-md {
            margin-bottom:30px;
        }
	}
// About us
.fx-about-header {
	width: 100%; /* for IE 6 */
	background:  
	linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
	url(../assets/images/about-background.png);
    background-size: cover;
	padding:0px 20px;	

}

// Contact us
.contact-phone {
    margin-top:20px;
	margin-bottom:10px;
}
#cs_telephone_number {
    width:90%;
}
#phone-result {
    padding-left:10px;
    text-align:left;
	margin:20px 0px;
}
.phone-note {
    margin-right:50px;
    text-align:left;
	padding-right:40px;
}
// Tables
.champion-features th {
    text-align:left;
}
.champion-features td:first-child {
    width:45%;
}
.champion-features td:nth-child(2) {
    width:20%;
}
.champion-features td:nth-child(3) {
    width:15%;
}
.champion-features td:last-child {
    width:20%;
}
.fx-package {
    text-align:center;
}
.fx-package td {
    padding:10px;
}
	@media (max-width: 768px) {
        .fx-package {
		    margin-top:50px;
		}
	}

// Helpers
.centered {
    text-align:center;
}
.space-sm {
    width:130px; 
	display:inline;
	}
.w-300 {
    max-width:200px;
}	
.wide span{
    width:90%;	
}
.clean-input:focus {
    outline: none;
}
.contacts-title {
    padding-bottom:30px;
}
//borders
.fx-tb {
    border-top:1px solid $borderColor;
}
.fx-rb {
    border-right:1px solid $borderColor;
}
.fx-bb {
    border-bottom:1px solid $borderColor;
}
.fx-lb {
    border-left:1px solid $borderColor;
}
.fx-hr {
    border-top:1px solid #ccc;
    margin:30px 0;
}
.app-info {
    min-height:70px;
}
.border {
    border:1px solid $borderColor;
}
.fx-material {
    box-shadow: $z-depth-1;
	transition: box-shadow .25s;
}
.fx-material:hover {
    box-shadow: $z-depth-1-half;
	transition: box-shadow .25s;
}
// Buttons
.store-button {
	display:inline-table;
	width:140px;
	height:auto;
	box-shadow: $z-depth-1;
	transition: box-shadow .25s;
}
.store-button:hover {
    box-shadow: $z-depth-1-half;
	transition: box-shadow .25s;
}
// Images
.img-lg {
    margin:20px 0;  
}	
.img-xl {
    margin:50px 0;
}

fieldset {
	border: 1px solid #DEDEDE;
	padding: 5px;
	margin-bottom: 10px;
}

fieldset .form-label {
	text-align: right;
	margin: 10px;
}

fieldset .form-input {
	margin: 10px;
}

.submit-holder {
	text-align: center;
}

.submit-holder p {
	display: block;
}