$black: #000;
$white: #fff;
$primaryBrandColor: #004385;
$darkPrimaryBrandColor: #013365;
$secondaryBrandColor: #004385;
$contentColor: #000;
$contentInverseColor: #FFF;
$secondaryContentColor: #C2C2C2;
$borderColor: #DEDEDE;
$fillColor: #F2F2F2;
$positiveColor: #004385;
$darkPositiveColor: #013365;
$negativeColor: #C03;
$noticeColor: #FEF1CF;
$chartColor: #6B8Fb9;
$chartAreaColor: rgba(128,179,236,0.3);
