ul.tabs {
    padding: 7px 0;
    margin:0;
    font-size: 0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    padding-left:0px; /* Offset of the first tab */
	border-bottom:3px solid $primaryBrandColor;
}  
ul.tabs li {
    display: inline;
    margin: 0;
    margin-left: 0px;
}   
ul.tabs li a {
    font: normal 16px $FONT-STACK;
    text-decoration: none;
    position: relative;
    padding: 7px 22px;
    color: #000;
    outline:none;
    background: #fff;
    border-right:0;
	border-top:1px solid $borderColor;
	border-left:1px solid $borderColor;
}
ul.tabs li:last-child a {
    border-right:1px solid $borderColor;
}       
ul.tabs li a:hover {
    color: #000;
    background: $fillColor;	
}      
ul.tabs li.selected a, ul.tabs li.selected a:hover {
    border-top:1px solid $primaryBrandColor;
    border-bottom:1px solid $primaryBrandColor;
    font-weight:normal;
    background: $primaryBrandColor;
    color: $white;
	box-shadow: $z-depth-1-half;
}
 ul.tabs li.active a, ul.tabs li.active a:hover {
    border-top:1px solid $primaryBrandColor;
    border-bottom:1px solid $primaryBrandColor;
    font-weight:normal;
    background: $primaryBrandColor;
    color: $white;
	box-shadow: $z-depth-1-half;
}          
ul.tabs li.selected a:hover {
    text-decoration: none;
}
div.tabcontents { 
    margin-top:30px;    
    padding: 20px 0px;
}
/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    padding-top:20px;
}
.dropdown-content a {
    text-decoration: none;
    display: inline;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
ul.tabs li.selected .dropdown-content {display:block}
ul.tabs li.active .dropdown-content {display:block}
ul.tabs li.dropdown .dropdown-content a {
	font-size: 13px;
	border:0;
	margin-left:8px;
	background-color:transparent;
	color:#000;
	box-shadow:none;
}
ul.tabs li.dropdown .dropdown-content a:hover {
	font-size: 13px;
	border:0;
	margin-left:8px;
	background-color:$fillColor;
	color:#000;
	box-shadow:none;
}
.ul.tabs li.active .dropdown-content a .active {
    background-color:$fillColor;
}
    @media (max-width: 1024px) {
	    ul.tabs li a {
            font: normal 14px $FONT-STACK;
		}
	}
    @media (max-width: 980px) {
		ul.tabs li {
			display: block; 
			width:100%;
			margin: 0px 0;
			margin-left: 0px;
		}
		ul.tabs li a {
		    display: block;
		    width:100%;
			border-right:1px solid $borderColor;
			border-bottom:1px solid $borderColor;
		}
		ul.tabs li:first-child {
		    margin-bottom:0px;
		}
		ul.tabs li.dropdown .dropdown-content {
			position: relative; 
			margin-left:0; 
			margin-right:0; 
			margin-top:10px; 
			padding:0; 
			text-align:center;
		}
		ul.tabs li.dropdown .dropdown-content a, ul.tabs li.dropdown .dropdown-content a:hover {		
			display:block;
			margin-left:0px;
			padding:8px;
			text-align:center;
		}
		ul.tabs li a {
            font: normal 16px $FONT-STACK;
		}
		.dropdown:hover .dropdown-content {
            display: none;
        }
	} 
	