<form id="verify-email-form" class="frm-verify-email">
    <input class="clean-input primary-input" autocomplete="off" name="email" id="email" maxlength="50" placeholder="[% l('Enter your email') %]">
    <span class="error-msg invisible" id="signup_error"></span>
    <button class="button" id="btn-verify-email" type="submit">[% l('Create Free Account') %]</button>
</form>