<header id="header" class="primary-color content-inverse-color">
	<div class="fx-container">
		<div class="row">
			<div class="col-lg-3">
                <div class="logo-wrapper">					
					<a class="logo-parent" href="https://champion-fx.com">
						<div class="logo">
							<div></div>
						</div>
						<div class="mobile-hide binary-logo-text">
							<div></div>
						</div>
					</a>
			    </div>			
			</div>
			<div class="col-lg-6">
                <ul class="top-nav-menu mobile-hide">
					<li>
						<a href="javascript:;" class="nav-dropdown-toggle">Menu One<span class="nav-caret"></span></a>
						<ul>
							<li><a href="javascript:;" class="disabled">Disabled Menu Item</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" class="nav-dropdown-toggle">Menu Two<span class="nav-caret"></span></a>
						<ul>
							<li>
								<a href="javascript:;">Menu Item<span class="nav-submenu-caret"></span></a>
								<ul>
									<li>
										<a href="javascript:;">Menu Item<span class="nav-submenu-caret"></span></a>
										<ul>
											<li><a href="javascript:;">Menu Item</a></li>
											<li><a href="javascript:;">Menu Item</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:;">Menu Item<span class="nav-submenu-caret"></span></a>
										<ul>
											<li><a href="javascript:;">Menu Item</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<div class="FX__Header__cta">
					<a class="button" href=""><span>[% Log In %]</span></a>
				</div>
			</div>
		</div>
	</div>
</header>
