<div class="dark-blue header">
	<div class="fx-container">
		<div class="row">
			<div class="col-lg-3">
                <div class="logo-wrapper">					
					<a class="logo-parent" href="https://champion-fx.com">
						<div class="logo">
							<div></div>
						</div>
						<div class="mobile-hide binary-logo-text ">
							<div></div>
						</div>
					</a>
			    </div>			
			</div>
			<div class="col-lg-6">
                <ul class="top-nav-menu mobile-hide">
					{% for my_page in site.pages %}
						{% if my_page.lang == layout.lang && my_page.title %}
							{% if my_page.tag == "main" %}	
							<li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="col-lg-3">
				<div class="FX__Header__cta">
					<a class="button-secondary" href=""><span>[% Log In %]</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
