<form id="verify-email-form">
    <div class="signup-box border primary-bg-color">
        <div class="">
            <input class="clean-input" autocomplete="off" name="email" id="email" maxlength="50" placeholder="[% Enter your email %]">
        </div>
        <div class="">
            <button class="button-secondary" id="btn-verify-email" type="submit">[% Create Free Account %]</button>
        </div>
        <span class="error-msg hint color-white center-text hidden" id="signup_error_empty">[% This field is required. %]</span>
        <span class="error-msg hint color-white center-text hidden" id="signup_error_email">[% Please submit a valid email address. %]</span>
    </div>
</form>