<style>
    #signup {display: none;}
    #loading_link {display: inline-block;}
</style>
<div id="login_loading" class="center-text">
    <a href="[% request.url_for('/') %]" id="loading_link">
        [% INCLUDE static/common/loading.html.tt %]
    </a>
</div>
